[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
robobrowser = "*"
pyqt5 = "*"
werkzeug = "~=2.2.3"
appdirs = "*"
bitmath = "*"
lxml = "*"

[requires]
python_version = "3.7"
